body.dark-mode {
  background-color: black !important;
  color: white !important;
}

body.dark-mode .zoom-buttons button {
  color: white !important;
}

body.dark-mode .header {
  background-color: #333 !important;
}

body.dark-mode .graph-container {
  border-color: #555 !important;
}

body.dark-mode .taskbar button {
  background-color: #666 !important;
}

body.dark-mode .breadcrumb-link {
  color: #80d8ff !important;
}

body.dark-mode .breadcrumb-label,
body.dark-mode .breadcrumb-separator {
  color: lightgray !important;
}