{% extends 'base.html' %}
{% block title %}Historical Graph{% endblock %}
{% block content %}
<div class="card card-custom">
    <div class="card-header">
        <h3>Historical {{ display_name }}</h3>
    </div>
    <div class="card-body">
        <div class="row mb-3">
            <div class="col-md-4">
                <label for="min_date" class="form-label">Min Date</label>
                <input type="datetime-local" id="min_date" class="form-control" value="{{ initial_min_date }}">
            </div>
            <div class="col-md-4">
                <label for="max_date" class="form-label">Max Date</label>
                <input type="datetime-local" id="max_date" class="form-control" value="{{ initial_max_date }}">
            </div>
            <div class="col-md-4">
                <label for="slider-period" class="form-label">Period</label>
                <div id="slider-period"></div>
            </div>
        </div>
        <canvas id="myChart"></canvas>
    </div>
</div>
<script>
    var ctx = document.getElementById('myChart').getContext('2d');
    var dates = {{ dates|safe }};
    var countsPerProduct = {{ counts_per_product|safe }};
    var datasets = [];

    for (var productName in countsPerProduct) {
        datasets.push({
            label: productName,
            data: countsPerProduct[productName],
            fill: false,
            borderColor: '#' + Math.floor(Math.random() * 16777215).toString(16).padStart(6, '0'),
            tension: 0.1
        });
    }

    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: dates,
            datasets: datasets
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            },
            plugins: {
                legend: {
                    display: true,
                    position: 'top',
                },
                tooltip: {
                    callbacks: {
                        label: function(tooltipItem) {
                            return datasets[tooltipItem.datasetIndex].label + ': ' + tooltipItem.raw;
                        }
                    }
                }
            }
        }
    });

    var periodSlider = document.getElementById('slider-period');
    noUiSlider.create(periodSlider, {
        start: [new Date('{{ initial_min_date }}').getTime(), new Date('{{ initial_max_date }}').getTime()],
        connect: true,
        range: {
            'min': new Date('{{ initial_min_date }}').getTime(),
            'max': new Date('{{ max_date }}').getTime()
        },
        format: {
            to: value => new Date(value).toISOString().slice(0, 16),
            from: value => new Date(value).getTime()
        }
    });

    periodSlider.noUiSlider.on('update', function(values, handle) {
        document.getElementById('min_date').value = values[0];
        document.getElementById('max_date').value = values[1];
        filterData();
    });

    document.getElementById('min_date').addEventListener('change', function() {
        filterData();
    });

    document.getElementById('max_date').addEventListener('change', function() {
        filterData();
    });

    function filterData() {
        var min_date = new Date(document.getElementById('min_date').value).getTime();
        var max_date = new Date(document.getElementById('max_date').value).getTime();
        var period_min = new Date(document.getElementById('period_min').value.replace(' ', 'T')).getTime();
        var period_max = new Date(document.getElementById('period_max').value.replace(' ', 'T')).getTime();

        var filtered_dates = [];
        var filtered_counts = {};

        for (var productName in countsPerProduct) {
            filtered_counts[productName] = [];
        }

        for (var i = 0; i < dates.length; i++) {
            var date = new Date(dates[i].replace(' ', 'T')).getTime();
            if (date >= period_min && date <= period_max && date >= min_date && date <= max_date) {
                filtered_dates.push(dates[i]);
                for (var productName in countsPerProduct) {
                    filtered_counts[productName].push(countsPerProduct[productName][i]);
                }
            }
        }

        myChart.data.labels = filtered_dates;
        myChart.data.datasets.forEach((dataset) => {
            dataset.data = filtered_counts[dataset.label];
        });
        myChart.update();
    }
</script>
{% endblock %}